.App {
  background-color: #1E1E1E;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  width: 100px;
  animation: App-logo-spin infinite 20s linear;
}

.App-title {
  margin-top: 20px;
  color: #FFFFFF;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
